/firmware/harmony_badge_2018.X/nbproject/private/
/firmware/harmony_badge_2018.X/build/pic32mx_usb_badge_int_dyn/
/firmware/harmony_badge_2018.X/dist/pic32mx_usb_badge_int_dyn/
/bootloader_an1388/PIC32_Bootloaders/Firmware/Bootloader/MPLAB_X_Workspace/USB_HID_Btl_StarterKit.X/nbproject/private/
/bootloader_an1388/PIC32_Bootloaders/Firmware/Bootloader/MPLAB_X_Workspace/USB_HID_Btl_StarterKit.X/build/default/
/bootloader_an1388/PIC32_Bootloaders/Firmware/Bootloader/MPLAB_X_Workspace/USB_HID_Btl_StarterKit.X/dist/default/
